{{ define "EditUser" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>Edit Skill Group</h2>  
    <form method="POST" action="updateuser">
      <input type="hidden" name="uid" value="{{ .Id }}" />
      <table class="blueTable">
        <tbody>
        <tr>
          <td>
            <label>UserRole</label>
            <select name="userrole"">
                <option value="admin">Admin</option>
                <option value="instructor">Instructor</option>
                <option value="student">Student</option>
            </select>
          </td>  
          <td>
            <label>Last Name </label>
            <input type="text" name="lastname" value="{{ .Lastname }}"/>
          </td>
          <td>
            <label> First Name </label>
            <input type="text" name="firstname" value="{{ .Firstname }}"/>
          </td>
          <td>
            <label>Email</label>
            <input type="text" name="email" value="{{ .email }}"/>
          </td>
        </tr>
        <tr>
            <td>
              <label>Password</label>
              <input type="password" name="password"/>
            </td>
            <td>
            <label>Cohort</label>
              <select name="cohort">
                <option value="SP22">SP22</option>
                <option value="SUM22">SUM22</option>
                <option value="FA22">FA22</option>
                <option value="All">All</option>
              </select>
          </td>
          <td>
            <label> Enabled </label>
            <select name="enabled">
              <option value="True">True</option>
              <option value="False">False</option>
            </select>    
          </td>
          <td>
              <input type="submit" onclick="ask()" value="Save user" />
          </td>
        </tr>
        </tbody>
        </table>
    </form><br />    
  {{ template "Footer" }}
{{ end }}


