{{ define "ShowSkill" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
      <h2> Skill {{ .Skillname }} </h2>
      <table class="blueTable">
        <tr bold>
          <th>ID</th>
          <th>Name</th>
          <th>Group ID</th>
          <th>Group Name</th>
          <th>Enabled</th>
          <th>Action</th>
        </tr>
        <tr>
          <td>{{ .Id }}</td>
          <td>{{ .Skillname }}</td>
          <td>{{ .Groupid }}</td>
          <td>{{ .Groupname }}</td>
          <td>{{ .Enabled }}</td>
          <td><a href="/editskill?id={{ .Id }}">Edit</a></td>
        </tr>
      </table>
  {{ template "Footer" }}
{{ end }}