{{ define "Signoffs" }}
  <h2 id="signoffs"> Signoffs </h2>
  <table class="default js-sort-table" id="signoffsTable">
    <thead>
        <tr>
          <th class="js-sort-number">ID</th>
          <th>Last Name (Student)</th>
          <th>First Name (Student)</th>
          <th>Last Name (Instructor)</th>
          <th>First Name (Instructor)</th>
          <th>Skill</th>
          <th>Group</th>
          <th>Type</th>
          <th class="js-sort-date">Date</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
    </thead>
    <tbody>
      {{ range . }}
      <tr>
        <td>{{ .Id }}</td>
        <td>{{ .Slastname }}</td>  
        <td>{{ .Sfirstname }}</td>
        <td>{{ .Ilastname }}</td>
        <td>{{ .Ifirstname }}</td>
        <td>{{ .Skillname }}</td>
        <td>{{ .Groupname }}</td>
        <td>{{ .Signofftype }}</td>
        <td>{{ .Signoffdate }}</td>
        <td><a href="/editsignoff?id={{ .Id }}">Edit</a></td>
        <td><a href="/deletesignoff?id={{ .Id }}">Delete</a></td>            
      </tr>
      {{ end }}
    </tbody>
  </table>  
  {{ template "Footer" }}
{{ end }}